<html>

<head>

    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form action="../controller/registrationcheck.php" method="POST">
        <table>
            <tr>
                <td>Employee Name:</td>
                <td><input type="text" name="name" required></td>
            </tr>
            <tr>
                <td>Contact No:</td>
                <td><input type="text" name="contact_no" required></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" required></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" required></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Register</button></td>
            </tr>
        </table>
    </form>
</body>
</html>
